.tit{
    /* 可设置一种，也可设置多种，中间用逗号隔开
    当前面的字体不存在的时候，就用后面的
    */
    font-family: '站酷酷黑';
    font-style: oblique;
}
.title{
    font-family: '宋体';
    /* 设置文字居中 */
    text-align:center;
}
/* 首行缩进 */
.p{
    font-size: 20px;
    text-indent: 2em;
}