/* .box{
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 3px solid red;
    margin-left: 100px;
    display: inline-block;
}
.box1{
    display: none;
} */
/* 重置样式 */
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    /* color:#000; */
}

/* 师大header */
.header-container{
    background: #eee;
}
.header{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
    border-top: 8px solid blue;
    border-bottom: 3px solid #ddd;
}
.header img{
    margin-top: 15px;
}
.search{
    display: inline-block;
    margin-left: 600px;
}












.nav{
    width: 1100px;
    /* 块元素水平居中 */
    margin: 0 auto;
}
.nav li{
    width: 110px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 50px;
}
/* a标签的字体颜色只能给a标签加 */
.nav li a{
    font-size: 15px;
    color: #000;
}
/* 伪类选择器 */
/* 后代选择器 */
/* 子选择器-第一标签 */
ul.nav>li:hover{
    background: blue;
}
.nav>li:hover >a{
    color: #fff;
}
.nav>li:hover .hide{
    display: block;
}

.hide{
    display: none;
    background: blue;
}
.nav .hide a{
    color: #fff;
}
.hide li:hover{
    background: lightblue;
}